# WorkOS AuthKit
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD=  # min 32 chars, generate with: openssl rand -hex 32
WORKOS_REDIRECT_URI=http://localhost:3000/callback

# Tiresias Backend
TIRESIAS_API_URL=http://localhost:8900
NEXT_PUBLIC_APP_URL=http://localhost:3000
